<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kartverket.ShapeChange.EA.Addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <Kartverket.ShapeChange.EA.Addin.Properties.Settings>
            <setting name="JavaRuntime" serializeAs="String">
                <value>C:\Program Files (x86)\Statens kartverk\ShapeChange EA Add-In\jre-11.0.6.10-hotspot\bin\java.exe</value>
            </setting>
            <setting name="ReportLevel" serializeAs="String">
                <value>INFO</value>
            </setting>
            <setting name="ProxyHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
        </Kartverket.ShapeChange.EA.Addin.Properties.Settings>
    </userSettings>
</configuration>